@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #27272C;
    background-image: url("../img/stars.gif");

}
div{
    margin: 15%;
    margin-top: 5%;
    align-items: center;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}
div *{
    margin: 2%;
    font-family: 'Press Start 2P', cursive;
}

#envia{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
}
#envia:hover{
    background-color: #FFCFDE;
}

form{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

input[type="text"] {
    font-size:25px;
    border-radius: 15px;
    padding: 2%;
}